In [1]:
import pandas as pd

train = pd.read_csv("train_users.csv")
test = pd.read_csv("test_users.csv")
sessions = pd.read_csv("sessions.csv")

In [2]:
for data in (train, test):
    data['year_created']  = data['date_account_created'].apply(lambda x: 'nan' if str(x) == 'nan' else int(str(x)[:4]) )
    data['month_created'] = data['date_account_created'].apply(lambda x: 'nan' if str(x) == 'nan' else int(str(x)[5:7]))
    data['week_created']  = data['date_account_created'].apply(lambda x: 'nan' if str(x) == 'nan' else int(str(x)[8:10]))
    
    data['year_first']  = data['date_first_booking'].apply(lambda x: 'nan' if str(x) == 'nan' else int(str(x)[:4]))
    data['month_first'] = data['date_first_booking'].apply(lambda x: 'nan' if str(x) == 'nan' else int(str(x)[5:7]))
    data['week_first']  = data['date_first_booking'].apply(lambda x: 'nan' if str(x) == 'nan' else int(str(x)[8:10]))

In [3]:
for data in (train, test):
    data.drop(['date_account_created'], axis=1,inplace=True)
    data.drop(['date_first_booking'], axis=1,inplace=True)

In [4]:
train = pd.merge(train, sessions, how="left", left_on=["id"], right_on=["user_id"])
test = pd.merge(test, sessions, how="left", left_on=["id"], right_on=["user_id"])

In [5]:
countries = pd.read_csv("countries.csv")

In [6]:
train = pd.merge(train, countries, how="left", left_on=["country_destination"], right_on=["country_destination"])

In [18]:
train.columns.summary

<bound method Index.summary of Index([u'id', u'timestamp_first_active', u'gender', u'age', u'signup_method', u'signup_flow', u'language', u'affiliate_channel', u'affiliate_provider', u'first_affiliate_tracked', u'signup_app', u'first_device_type', u'first_browser', u'country_destination', u'year_created', u'month_created', u'week_created', u'year_first', u'month_first', u'week_first', u'user_id', u'action', u'action_type', u'action_detail', u'device_type', u'secs_elapsed', u'lat_destination', u'lng_destination', u'distance_km', u'destination_km2', u'destination_language ', u'language_levenshtein_distance'], dtype='object')>

In [20]:
x_train = train.drop("country_destination", axis=1)
y_train = train["country_destination"]
x_test = test.copy()

In [21]:
import numpy as np

from sklearn import preprocessing

for f in x_train.columns:
    if x_train[f].dtype=='object':
        lbl = preprocessing.LabelEncoder()
        if f not in x_test.columns:
            lbl.fit(np.unique(list(x_train[f].values)))
            x_train[f] = lbl.transform(list(x_train[f].values))
        else:
            lbl.fit(np.unique(list(x_train[f].values) + list(x_test[f].values)))
            x_train[f] = lbl.transform(list(x_train[f].values))
            x_test[f] = lbl.transform(list(x_test[f].values))

In [22]:
x_test.columns

Index([u'id', u'timestamp_first_active', u'gender', u'age', u'signup_method', u'signup_flow', u'language', u'affiliate_channel', u'affiliate_provider', u'first_affiliate_tracked', u'signup_app', u'first_device_type', u'first_browser', u'year_created', u'month_created', u'week_created', u'year_first', u'month_first', u'week_first', u'user_id', u'action', u'action_type', u'action_detail', u'device_type', u'secs_elapsed'], dtype='object')

In [23]:
x_train.columns

Index([u'id', u'timestamp_first_active', u'gender', u'age', u'signup_method', u'signup_flow', u'language', u'affiliate_channel', u'affiliate_provider', u'first_affiliate_tracked', u'signup_app', u'first_device_type', u'first_browser', u'year_created', u'month_created', u'week_created', u'year_first', u'month_first', u'week_first', u'user_id', u'action', u'action_type', u'action_detail', u'device_type', u'secs_elapsed', u'lat_destination', u'lng_destination', u'distance_km', u'destination_km2', u'destination_language ', u'language_levenshtein_distance'], dtype='object')

In [24]:
for col in countries.columns:
    if col == 'country_destination':
        continue
    del(x_train[col])

In [25]:
x_test.columns

Index([u'id', u'timestamp_first_active', u'gender', u'age', u'signup_method', u'signup_flow', u'language', u'affiliate_channel', u'affiliate_provider', u'first_affiliate_tracked', u'signup_app', u'first_device_type', u'first_browser', u'year_created', u'month_created', u'week_created', u'year_first', u'month_first', u'week_first', u'user_id', u'action', u'action_type', u'action_detail', u'device_type', u'secs_elapsed'], dtype='object')

In [27]:
x_train.columns

Index([u'id', u'timestamp_first_active', u'gender', u'age', u'signup_method', u'signup_flow', u'language', u'affiliate_channel', u'affiliate_provider', u'first_affiliate_tracked', u'signup_app', u'first_device_type', u'first_browser', u'year_created', u'month_created', u'week_created', u'year_first', u'month_first', u'week_first', u'user_id', u'action', u'action_type', u'action_detail', u'device_type', u'secs_elapsed'], dtype='object')

In [28]:
from sklearn.preprocessing import Imputer
imp = Imputer(missing_values='NaN', strategy='mean', axis=0)
x_train_nonan = imp.fit_transform(x_train)


x_test_nonan = imp.fit_transform(x_test)

In [29]:
x_train

,id,timestamp_first_active,gender,age,signup_method,signup_flow,language,affiliate_channel,affiliate_provider,first_affiliate_tracked,...,week_created,year_first,month_first,week_first,user_id,action,action_type,action_detail,device_type,secs_elapsed
0,129855,20090319043255,0,NaN,1,0,6,2,4,7,...,28,6,12,31,87710,189,7,81,14,NaN
1,61843,20090523174809,2,38,1,0,6,7,8,7,...,25,6,12,31,87710,189,7,81,14,NaN
2,188750,20100105051812,1,47,0,0,6,3,2,7,...,5,6,12,31,87710,189,7,81,14,NaN
3,106886,20100105083259,1,37,0,0,6,3,2,0,...,5,6,12,31,87710,189,7,81,14,NaN
4,152148,20100107055820,1,36,0,0,6,3,2,7,...,7,6,12,31,87710,189,7,81,14,NaN
5,18310,20100107215125,0,NaN,0,0,6,3,2,3,...,7,6,12,31,87710,189,7,81,14,NaN
6,99093,20100108015641,0,NaN,0,0,6,7,6,3,...,8,6,12,31,87710,189,7,81,14,NaN
7,149422,20100111224015,0,NaN,0,0,6,3,2,7,...,11,6,12,31,87710,189,7,81,14,NaN
8,57659,20100111230808,1,40,0,0,6,7,8,7,...,11,6,12,31,87710,189,7,81,14,NaN
9,88325,20100112155420,0,NaN,0,0,6,3,12,7,...,12,6,12,31,87710,189,7,81,14,NaN
10,195182,20100114060757,2,31,0,0,6,2,4,3,...,14,6,12,31,87710,189,7,81,14,NaN
11,173795,20100114084926,0,31,0,0,6,7,8,7,...,14,6,12,31,87710,189,7,81,14,NaN
12,205799,20100114175209,2,29,0,0,6,3,2,3,...,14,6,12,31,87710,189,7,81,14,NaN
13,254652,20100115055053,2,59,0,0,6,2,4,7,...,15,6,12,31,87710,189,7,81,14,NaN
14,233496,20100115082711,0,49,0,0,6,6,8,3,...,15,6,12,31,87710,189,7,81,14,NaN
15,234361,20100115231651,2,30,0,0,6,3,2,7,...,15,6,12,31,87710,189,7,81,14,NaN
16,61193,20100115234132,0,NaN,0,0,6,6,12,4,...,15,6,12,31,87710,189,7,81,14,NaN
17,176103,20100116154942,1,35,0,0,6,3,2,7,...,16,6,12,31,87710,189,7,81,14,NaN
18,151229,20100116215943,2,26,0,0,6,3,2,0,...,16,6,12,31,87710,189,7,81,14,NaN
19,17356,20100121070939,1,29,0,0,6,2,4,3,...,21,6,12,31,87710,189,7,81,14,NaN
20,48204,20100121183725,0,NaN,0,0,6,3,2,3,...,21,6,12,31,87710,189,7,81,14,NaN
21,18040,20100124083507,0,NaN,0,0,6,3,2,7,...,24,6,12,31,87710,189,7,81,14,NaN
22,15994,20100125184230,0,30,0,0,6,3,2,3,...,25,6,12,31,87710,189,7,81,14,NaN
23,152054,20100126002245,2,28,0,0,6,3,2,0,...,26,6,12,31,87710,189,7,81,14,NaN
24,87677,20100127031620,1,53,0,0,6,3,2,0,...,27,6,12,31,87710,189,7,81,14,NaN
25,213985,20100128100127,0,NaN,0,0,6,3,2,7,...,28,6,12,31,87710,189,7,81,14,NaN
26,193663,20100129032157,0,NaN,0,0,6,2,4,7,...,29,6,12,31,87710,189,7,81,14,NaN
27,84740,20100129093908,2,39,0,0,6,3,2,7,...,29,6,12,31,87710,189,7,81,14,NaN
28,41337,20100129173619,0,NaN,0,0,6,3,2,3,...,29,6,12,31,87710,189,7,81,14,NaN
29,251355,20100130161608,1,40,0,0,6,2,4,7,...,30,6,12,31,87710,189,7,81,14,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5677563,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,100,10,40,9,433
5677564,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,258,10,100,9,57202
5677565,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,100,10,40,9,1307
5677566,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,100,10,40,9,357
5677567,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,85,3,31,9,35070
5677568,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,40,3,25,9,21
5677569,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,297,4,117,9,100961
5677570,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,197,0,0,9,28734
5677571,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,338,9,127,9,71484
5677572,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,215,4,151,9,95
5677573,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,288,10,86,9,12382
5677574,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,141,4,54,9,252
5677575,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,93,9,39,9,NaN
5677576,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,297,4,117,9,258
5677577,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,288,10,134,9,36153
5677578,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,288,10,134,9,774
5677579,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,215,4,151,9,1260
5677580,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,288,7,81,9,50
5677581,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,100,10,40,9,829
5677582,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,258,10,100,9,64566
5677583,174666,20140630052141,1,63,0,0,6,7,8,4,...,30,4,10,14,85801,258,10,100,9,853
5677584,93865,20140630222253,1,30,0,0,6,2,4,0,...,30,4,9,29,46198,53,9,32,6,588
5677585,93865,20140630222253,1,30,0,0,6,2,4,0,...,30,4,9,29,46198,100,10,40,6,1227
5677586,93865,20140630222253,1,30,0,0,6,2,4,0,...,30,4,9,29,46198,189,5,74,6,NaN
5677587,93865,20140630222253,1,30,0,0,6,2,4,0,...,30,4,9,29,46198,141,4,54,6,5
5677588,93865,20140630222253,1,30,0,0,6,2,4,0,...,30,4,9,29,46198,141,4,54,6,6
5677589,93865,20140630222253,1,30,0,0,6,2,4,0,...,30,4,9,29,46198,141,4,54,6,378
5677590,93865,20140630222253,1,30,0,0,6,2,4,0,...,30,4,9,29,46198,141,4,54,6,1
5677591,93865,20140630222253,1,30,0,0,6,2,4,0,...,30,4,9,29,46198,100,10,40,6,944
5677592,93865,20140630222253,1,30,0,0,6,2,4,0,...,30,4,9,29,46198,85,3,31,6,62082

In [30]:
from sklearn.tree import DecisionTreeClassifier
model = DecisionTreeClassifier()


model.fit(x_train_nonan, y_train)

DecisionTreeClassifier(compute_importances=None, criterion='gini',
            max_depth=None, max_features=None, max_leaf_nodes=None,
            min_density=None, min_samples_leaf=1, min_samples_split=2,
            random_state=None, splitter='best')

In [31]:
y_test = model.predict(x_test_nonan)

In [32]:
submission = pd.DataFrame()
submission["id"] = test["id"]
submission["country"] = y_test

submission.to_csv('airbnb_1.csv', index=False)